body
{
    margin: 0;
}

button:active, input[type=submit]:active
{
    background: #333;
}

.selected, #header td > .selected
{
    background: #333;
}

#header
{
    padding: 0;
    margin: 0;
    background: #666;
    width: 100%; 
    position: relative;
    z-index: 3;
}

#header span > a, #header td > a, button, input[type=submit]
{
    display: inline-block;
    display: inline-block;
    font-size: 24pt;
    color: white;
    text-decoration: none;
}

#header span > a, #header td > a
{
    margin: 0;
    padding: 10px;
    background: #666;
}

button, input[type=submit]
{
    background: #666;
    border: none;
    border-radius: 10px;
}

.toolbar_icon
{
    padding: 0;
    width: 38px;
    height: 0px;
    position: relative;
    overflow: visible;
    vertical-align: top;
}

.toolbar_icon > img
{
    position: absolute;
    top: 5px;
    left: 5px;
}

/*.zero_width
{
/*  width: 0;
    overflow: hidden;*
    opacity: 0;
}

.zero_height
{
/*  height: 0;
    overflow: hidden;*
    opacity: 0;
}*/

/*.transparent
{
    opacity: attr(data-opacity, number, 0);
}

.animated
{
    transition: all 1s;
}*/

#body
{
    padding: 5px;
}

#error_btn
{
    display: none;
}

.selected > #error_btn
{
    display: inline-block;
    background: red;
    border-radius: 100%;
}

#cover
{
    position: fixed;
    background: gray;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
}

#scoreboard tr:nth-child(1) > *
{
    border-bottom: 1px solid black;
}

#contest_list tr > *
{
    border-top: 1px solid black;
}

#contest_list tr:nth-child(1) > *
{
    border-top: none !important;
}

#scoreboard tr:nth-child(2n), #contest_list tr:nth-child(2n)
{
    background: darkgray;
}

#scoreboard tr:nth-child(2n+1), #contest_list tr:nth-child(2n+1)
{
    background: lightgray;
}

#scoreboard tr > *, #contest_list tr > *
{
    padding: 5px;
}

#submissions table, #submissions table tr > *
{
    border: 1px solid #888;
}

#submissions table tr > *
{
    padding: 5px;
}

#contest_list a
{
    color: inherit;
    text-decoration: none;
}

#contest_list tr:hover
{
    background: #ddf;
}

.btn_link
{
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px dashed lightblue;
    color: lightblue;
}

.form td
{
    position: relative;
}

.form td input, .form td textarea
{
    width: 100%;
}

.form td input[class=wrap], .form td textarea[class=wrap]
{
    width: auto !important;
}

.source_code
{
    display: block;
    background: #eee;
}
